

body{
    margin-left: 16rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16rem; /* same as w-64 in Tailwind */
  color: #111827;
  background-color: #f9fafb; /* or your bg-card-light */
  border-right: 1px solid #e5e7eb; /* or your border-border-light */
  padding: 1rem;
  z-index: 1; 
}