.imgBackground{
    


  background-image: url("./class.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
 }
       

        .imgBackground::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.444);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}